@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;900&family=Montserrat:wght@400;700&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #0D0126;
    margin: 0;
}

nav {
    min-width: 800px;
    padding: 32px 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
    padding: 0 22.5px;
    list-style: none;
}

nav ul li {
    margin: auto 22.5px;
}

nav ul li:first-child {
    margin: 0 auto 0 22.5px;
}

nav ul li:last-child {
    cursor: pointer;
}

nav ul li:last-child:hover {
    transform: scale(1.1);
}

nav ul li a {
    color: #2E1F4D;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:visited {
    color: #2E1F4D;
}

nav ul li a:active {
    color: #ffffff;
}

nav ul li a:hover {
    color: #ffffff;
}

header {
    min-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

#hero {
    filter: drop-shadow(0px 0px 100px #2e1f4dbe);
}

header div {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    color: #ffffff;
}

header div h1 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

#divider {
    width: 25%;
    height: 4px;
    display: flex;
    flex-direction: row;
    background-color: #2E1F4D;
    margin: 22.5px 0;
}

header div p {
    font-size: 20px;
    margin: 0;
}

#slide {
    display: flex;
    flex-direction: row;
    margin: 45px 0 0 0;
}

#slide img:hover {
    cursor: pointer;
    filter: brightness(10);
}

#slide img:first-child {
    margin: 0 45px 0 0;
}

#cakes {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 45px 0;
}

#cakes img {
    margin: 0 auto 10px auto;
}

#cakes h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 45px auto;
    color: #0D0126;
}

#card-list {
    min-width: 800px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}

#card {
    max-width: 366px;
    display: flex;
    flex-direction: column;
    margin: 0 22.5px;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0px 0px 5px #00000010;
}

#card img {
    margin: 0 0 30px 0;
}

#card h2 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

#card h3 {
    color: #666666;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 0 0;
}

#card p {
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0 0 0;
}

#card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    margin: 40px 0 0 0;
    background-color: #0D0126;
    cursor: pointer;
    border: solid 0px;
    border-radius: 16px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#card button img {
    margin: auto 10px auto 0;
}